---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ service_account_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ service_account_name }}"
subjects:
- kind: ServiceAccount
  name: "{{ service_account_name }}"
  namespace: "{{ namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: "{{ service_account_name }}"
rules:
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get","watch","list"]
- apiGroups: ["extensions"] 
  resources: ["ingresses"] 
  verbs: ["get","watch","list"]
- apiGroups: ["multiclusterdns.federation.k8s.io"] 
  resources: ["dnsendpoints","dnsendpoints/status"] 
  verbs: ["get","watch","list","patch","update"]  
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["list"]  
